In [1]:
import pandas
from scipy import stats

## Датасет

In [2]:
df = pandas.read_csv('dataset_Facebook.csv', sep = ';')

### Первые несколько значений

In [3]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

### Среднее, медиана, мин., макс. и др (кроме моды) для всего массива

In [4]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

### Моды (весь массив)

In [5]:
df.mode().fillna('-')

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136393,Photo,1,10,7,3,0,677,4372,537,182,431,1210,690,403,0,98,13,0
1,-,-,-,-,-,-,-,2232,6503,-,298,513,1284,704,-,-,-,14,39
2,-,-,-,-,-,-,-,2645,7004,-,319,599,2541,1228,-,-,-,-,75
3,-,-,-,-,-,-,-,2938,8533,-,322,652,2888,1640,-,-,-,-,-
4,-,-,-,-,-,-,-,3322,8745,-,335,719,3675,1674,-,-,-,-,-
5,-,-,-,-,-,-,-,3358,12735,-,374,730,4911,1722,-,-,-,-,-
6,-,-,-,-,-,-,-,3414,-,-,482,795,4935,2044,-,-,-,-,-
7,-,-,-,-,-,-,-,3528,-,-,503,889,5010,2124,-,-,-,-,-
8,-,-,-,-,-,-,-,3754,-,-,513,-,5732,2162,-,-,-,-,-
9,-,-,-,-,-,-,-,5280,-,-,642,-,-,2174,-,-,-,-,-
10,-,-,-,-,-,-,-,5290,-,-,-,-,-,2388,-,-,-,-,-
11,-,-,-,-,-,-,-,6692,-,-,-,-,-,2426,-,-,-,-,-
12,-,-,-,-,-,-,-,9528,-,-,-,-,-,2604,-,-,-,-,-
13,-,-,-,-,-,-,-,13544,-,-,-,-,-,2616,-,-,-,-,-
14,-,-,-,-,-,-,-,32208,-,-,-,-,-,2644,-,-,-,-,-
15,-,-,-,-,-,-,-,-,-,-,-,-,-,2660,-,-,-,-,-
16,-,-,-,-,-,-,-,-,-,-,-,-,-,2704,-,-,-,-,-
17,-,-,-,-,-,-,-,-,-,-,-,-,-,2752,-,-,-,-,-
18,-,-,-,-,-,-,-,-,-,-,-,-,-,2868,-,-,-,-,-
19,-,-,-,-,-,-,-,-,-,-,-,-,-,3114,-,-,-,-,-
20,-,-,-,-,-,-,-,-,-,-,-,-,-,3216,-,-,-,-,-
21,-,-,-,-,-,-,-,-,-,-,-,-,-,3230,-,-,-,-,-
22,-,-,-,-,-,-,-,-,-,-,-,-,-,3298,-,-,-,-,-
23,-,-,-,-,-,-,-,-,-,-,-,-,-,3768,-,-,-,-,-
24,-,-,-,-,-,-,-,-,-,-,-,-,-,5348,-,-,-,-,-
25,-,-,-,-,-,-,-,-,-,-,-,-,-,5372,-,-,-,-,-
26,-,-,-,-,-,-,-,-,-,-,-,-,-,7020,-,-,-,-,-
27,-,-,-,-,-,-,-,-,-,-,-,-,-,7800,-,-,-,-,-
28,-,-,-,-,-,-,-,-,-,-,-,-,-,8032,-,-,-,-,-
29,-,-,-,-,-,-,-,-,-,-,-,-,-,8120,-,-,-,-,-
30,-,-,-,-,-,-,-,-,-,-,-,-,-,20608,-,-,-,-,-

### Среднее значение (тип контента)

In [6]:
df.groupby(['Type']).mean()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,116363.181818,1.136364,6.590909,4.272727,5.727273,0.272727,18544.590909,28725.454545,342.818182,292.681818,374.090909,11148.590909,6544.363636,210.545455,2.818182,73.318182,12.909091,89.045455
Photo,122354.171362,1.917840,6.805164,4.107981,7.997653,0.280000,13137.814554,28994.497653,818.946009,690.431925,1299.025822,16422.483568,6059.103286,507.305164,7.492958,182.611765,27.158768,216.579812
Status,132647.044444,2.022222,9.066667,4.577778,7.244444,0.222222,13078.888889,24244.466667,2040.222222,1949.555556,2838.866667,18664.266667,9908.577778,1719.844444,8.911111,176.711111,31.422222,217.044444
Video,135014.857143,1.000000,9.571429,3.571429,8.714286,0.571429,51205.714286,102622.428571,1707.000000,1584.714286,2600.142857,43149.857143,17386.285714,979.428571,12.285714,231.428571,52.142857,295.857143

### Максимальное значение (тип контента)

In [7]:
df.groupby(['Type']).max()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,138895,3,12,7,14,1.0,70912,229733,1374,1106,1345,42338,27232,788,15,379.0,44.0,420
Photo,139441,3,12,7,23,1.0,180480,1110282,11452,11328,19779,1107833,51456,3430,372,5172.0,790.0,6334
Status,139441,3,12,7,15,1.0,31136,59964,6164,5934,9237,37849,21352,4376,60,859.0,123.0,1009
Video,138895,1,12,6,13,1.0,139008,277100,3872,3822,7327,107502,38720,2218,23,449.0,121.0,550

### Минимальное значение (тип контента)

In [8]:
df.groupby(['Type']).min()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,85979,1,1,1,2,0.0,1536,3094,24,23,26,2307,1180,19,0,5.0,0.0,6
Photo,81370,1,1,1,1,0.0,238,570,9,9,9,567,236,9,0,0.0,0.0,0
Status,104070,1,3,1,2,0.0,3930,7509,128,86,112,5009,2410,101,0,13.0,1.0,17
Video,126424,1,6,2,2,0.0,13544,30235,459,411,539,21436,9568,363,2,65.0,13.0,81

### Медиана (тип контента)

In [9]:
df.groupby(['Type']).median()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,115396.0,1.0,4.5,4.5,4.0,0.0,7422.0,9773.0,244.0,205.0,290.0,9034.5,5039.0,161.5,1.5,37.0,10.5,52.5
Photo,128032.0,2.0,7.0,4.0,9.0,0.0,4675.0,8118.5,605.5,528.5,827.0,5498.0,3110.0,403.0,3.0,100.0,19.0,122.0
Status,135713.0,2.0,10.0,5.0,9.0,0.0,11096.0,20849.0,1701.0,1599.0,2201.0,17502.0,8980.0,1604.0,4.0,150.0,28.0,186.0
Video,137893.0,1.0,11.0,3.0,11.0,1.0,30624.0,56950.0,1779.0,1643.0,2331.0,30131.0,14112.0,885.0,17.0,204.0,44.0,271.0

### Моды (тип контента)

In [10]:
df.groupby(['Type']).agg(lambda x: stats.mode(x)[0][0])

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,138353,1,12,6,3,0.0,1536,3094,66,322,26,2307,1180,19,0,12.0,2.0,14
Photo,124940,1,10,7,3,0.0,677,4372,537,298,431,1210,690,403,0,7.0,14.0,0
Status,139441,2,12,5,10,0.0,3930,7509,128,86,1692,5009,2410,101,2,86.0,1.0,117
Video,137893,1,11,2,11,1.0,13544,30235,459,411,539,21436,9568,363,2,65.0,13.0,81

### Самый популярный объект

Самый популярный пост -- это тот, с которым зафиксировано максимальное число взаимодействий (комментарии, репосты и лайки, т.е. информация, представленная в колонке Total interactions, а также максимальный охват (Lifetime post total reach, кол-во уникальных пользователей, увидевших пост) и число показов (Lifetime post total impressions, кол-во неуникальных пользователей, просмотревших пост). Сначала посмотрим на кол-во показов и охват:

In [11]:
df[(df['Lifetime Post Total Reach'] == df['Lifetime Post Total Reach'].max())]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [12]:
df[(df['Lifetime Post Total Impressions'] == df['Lifetime Post Total Impressions'].max())]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
415,104070,Photo,1,3,4,7,0.0,49632,1110282,1653,1480,2567,1107833,48368,1513,7,227.0,15.0,249

Видно, что это разные посты. У первого больше охват, а у второго -- число показов (его смотрели много раз одни и те же пользователи и, как видно по столбцу Lifetime Post Impressions by people who have liked your Page, это те, кто лайкал ранее посты на данной странице, то есть, скорее всего, аудитория, которой нравится весь контент страницы в целом). А в первом посте больше показов от людей, которые еще не лайкали постов на странице.
Теперь нужно проверить, какой пост из датасета активнее всего лайкали, репостили и комментировали.

In [13]:
df[(df['Total Interactions'] == df['Total Interactions'].max())]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

Видно, что это как раз пост с наибольшим охватом. Цифры в столбцах взаимодействий с постом  в разы больше по сравнению с постом с наибольшим числом показов. Он является самым популярным объектов в выборке.